.admin-header {
    height: 70px;
    font-size: 22px;
    line-height: 70px;
    color: #fff;
    background-color: #242f42;
}

.admin-header .ad-title {
    float: left;
    text-align: center;
}

.admin-header .ad-info {
    float: right;
    margin-right: 40px;
    padding-right: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.admin-header .ad-info .admsg {
    display: none;
    position: absolute;
    z-index: 100;
    min-width: 110px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.admsg .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.admsg li {
    line-height: 40px;
}

.admsg li:hover {
    background-color: #bfcbd9;
}

.admsg a {
    text-decoration: none;
}

.admin-header .ad-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.admin-header .ad-info span {
    padding-left: 25px;
}

.admin-sidebar {
    position: absolute;
    float: left;
    color: #bfcbd9;
    left: 0;
    top: 70px;
    bottom: 0;
    background: #2E363F;
    padding: 0;
}

.sidebarWidth {
    width: 220px;
}

.admin-sidebar li {
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    transition: border-color .3s, background-color .3s, color .3s;
    box-sizing: border-box;
    white-space: nowrap;
}

.admin-sidebar li:hover {
    color: #20a0ff;
    background-color: #48576a;
}

.ad-sidebar-normal,
.ad-sidebar-collapse {
    height: 92%;
    border-radius: 2px;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
}

.ad-sidebar-normal i {
    padding-right: 40px;
}

.ad-sidebar-footer {
    height: 8%;
    border-top: 1px solid #48576a;
}

.ad-sidebar-footer i {
    float: right;
    padding: 7px 13px;
    font-size: 2em;
}

.admin-content {
    float: right;
    width: 100%;
    padding: 25px 40px;
    margin-left: -54px;
    padding-left: 94px;
    box-sizing: border-box;
}

.adminContWidth {
    margin-left: -220px;
    padding-left: 260px;
}

.ad-editor-wrap .tips span {
    font-size: 14px;
}

.ad-editor-wrap .tips {
    margin: 15px 0;
}

.ad-editor-wrap .ad-header {
    margin-bottom: 15px;
}


/*交互部分 */

.ad-info:hover .admsg {
    display: block;
}
