.editor-toolbar,.CodeMirror {
    font-size: 1.4rem !important;
}
.admin-header {
    height: 7rem;
    font-size: 2.2rem;
    line-height: 7rem;
    color: #fff;
    background-color: #242f42;
}

.admin-header .ad-title {
    float: left;
    text-align: center;
    width: 16%;
    min-width: 181px;
}
.admin-header .ad-title a {
    color:#fff;
}
.admin-header .ad-title a:hover {
    text-decoration: none;
}
.admin-header .ad-info {
    float: right;
    margin-right: 4rem;
    padding-right: 1rem;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.admin-header .ad-info .admsg {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 100;
    min-width: 11rem;
    font-size: 1.4rem;
    text-align: center;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.admsg ul li a {
    width: 100%;
    display: inline-block;
}

.admsg ul {
    border: 0.1rem solid #ccc;
    border: 0.1rem solid rgba(0, 0, 0, .15);
    border-top: 0;
    background-color: #fff;
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    border-radius: 0.4rem;
    -webkit-box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, .175);
    box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, .175);
}

.admsg .arrow {
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    color: #666;
    border-top: 0.5rem dashed transparent;
    border-left: 1rem dashed transparent;
    border-right: 1rem dashed transparent;
    border-bottom: 1rem solid #fff;
}

.admsg .divider {
    height: 0.1rem;
    margin: 0.5rem 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.admsg li {
    line-height: 4rem;
}

.admsg li:hover {
    background-color: #bfcbd9;
}

.admsg a {
    text-decoration: none;
}

.admin-header .ad-info img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.admin-header .ad-info span {
    padding-left: 2.5rem;
}

.admin-sidebar {
    float: left;
    position: relative;
    width: 5.4rem;
    height: 100%;
    color: #bfcbd9;
    background: #2E363F;
    padding: 0;
}

.sidebarWidth {
    width: 16%;
    min-width: 181px;
}

.admin-sidebar li {
    overflow: hidden;
    height: 5.6rem;
    line-height: 5.6rem;
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
    transition: border-color .3s, background-color .3s, color .3s;
    box-sizing: border-box;
    white-space: nowrap;
}

.ad-sidebar-li-a {
    padding: 0 2rem;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.ad-sidebar-li-a:hover {
    color: #20a0ff;
    background-color: #48576a;
}

.ad-sidebar-normal,
.ad-sidebar-collapse {
    height: 100%;
    border-radius: 0.2rem;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
}

.ad-sidebar-normal i {
    padding-right: 4rem;
}

.ad-sidebar-normal a,
.ad-sidebar-collapse a {
    color: #bfcbd9;
    text-decoration: none;
}

.ad-sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 0.1rem solid #48576a;
}

.ad-sidebar-footer i {
    position: relative;
    top: 0px;
    float: right;
    padding: 0.7rem 1.3rem;
    font-size: 2.8rem;
}

.admin-content {
    background-color: #fbfbfb;
    height: 100%;
    padding: 2.5rem 4rem;
    overflow: auto;
}

.adminContWidth {
    width: 21.6rem;
}

.ad-editor-wrap .tips span {
    font-size: 1.4rem;
}

.ad-editor-wrap .tips {
    margin: 1.5rem 0;
}

.ad-editor-wrap .ad-header {
    margin-bottom: 1.5rem;
}

.admin-wrap {
    position: absolute;
    bottom: 0;
    top: 7rem;
    width: 100%;
}

.wrap-aside {
    position: relative;
}


/*交互部分 */

.ad-info:hover .admsg {
    /* display: block; */
    opacity:1;
     visibility: visible;
}


/*编辑器属性  */

.CodeMirror,
.CodeMirror-scroll {
    min-height: 24.5rem !important;
}


/*侧边栏效果  */

.router-link-active {
    background-color: #3c444f;
}


/*删除文章组件  */
.ad-admin-manage-wrap {
    font-size: 1.4rem;
}
.ad-admin-manage-wrap .tips {
    margin: 1.5rem 0;
}

.manage-articles {
    list-style: none;
    margin-bottom: 0;
    padding: 0.5rem;
    font-size: 0;
}

.manage-articles li {
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: top;
    margin: 1.5rem;
    padding: 1.5rem;
    float: left;
    width: 30rem;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.2rem rgba(151, 151, 151, 0.58);
}

.manage-articles li:hover {
    background-color: #eaf0f7;
}

.adm-title {
    margin: 0;
    padding: 1rem 0.5rem;
    border-bottom: 0.1rem solid #ddd;
    /*文本超出一行省略号  */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

.adm-meta {
    padding: 1rem 0.5rem;
}

.adm-cont {
    margin: 1rem 0.2rem;
    overflow: hidden;
    height: 6rem;
    /* border-bottom: 0.1rem solid #ddd; */
}

.adm-footer {
    margin: 0.5rem 0;
}

.adm-footer button {
    float: right;
}
/* 评论管理 */
.comments-table thead th:first-child {
    width:7%;
}
.comments-table thead th:last-child {
    width:15%;
}
.comments-table thead th:nth-child(4) {
    width:15%;
}
.comments-table thead th:nth-child(3) {
    width:10%;
}
.comments-table tbody tr:first-child {
    cursor: pointer;
}
.comments-table td,.comments-table th {
    text-align: center;
}
.comments-table .table td {
    vertical-align: middle;
}
.comments-table tbody tr:nth-child(2) {
    font-size: 90%;
    color:#395c9c;
    background-color:#f2f8fd;
}
