/*文章列表与文章详情*/

.articlelist,
.article {
    background: #f8f8f8;
    margin-bottom: 20px;
    border-left: 8px #ccc solid;
    box-shadow: 0 1px 4px #aaa;
}


/*文章列表*/

.articlelist h4 {
    padding: 10px 10px 0 20px;
    color: #2ca6cb;
    font-size: 24px;
    font-weight: 300;
}

.articlelist h4 a {
    text-decoration: none;
}

.articlelist h4 a:hover {
    color: #f4645f;
    text-shadow: 0px 0px 10px #f4645f;
}

.articlelist p {
    margin-bottom: 0;
    padding: 5px 20px 0px 20px;
    color: #817c7c;
    line-height: 1.6;
    word-wrap: break-word;
    font-size: 16px;
}

.articlelist p.time {
    margin-right: 50px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}


/*文章详情*/

.post-article {
    border: 0;
}

.post-title {
    border-left: 5px solid #ea6753;
}

.post-title h4 {
    color: #2ca6cb;
    padding: 15px 35px;
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
}

.post-meta .subhead {
    font-size: 15px;
    float: right;
    color: #777;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-top: 5px;
}

p.subhead span {
    padding: 0 15px;
}

.post-abs {
    border-top: 1px dashed #726caf;
    border-bottom: 1px dashed #726caf;
    font-size: 1.2em;
    padding: 15px 0;
    margin: 5px 50px;
}

.post-cont {
    margin: 5px 50px;
    padding: 15px 0;
    font-size: 16px;
}

.post-footer {
    margin-bottom: 10px;
}

.post-footer p {
    font-size: 15px;
    float: right;
    color: #777;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.post-return {
    margin: 15px 0 15px 45px;
}

.post-return-a {
    text-decoration: none;
    padding: 8px 10px;
    color: #2ca6cb;
    font-size: 16px;
}

.post-return-a:link,
.post-return-a:hover {
    text-decoration: none;
}

.post-return-a:hover {
    background-color: #2ca6cb;
    color: white;
}
