/*文章列表与文章详情*/

.articlelist,
.article {
    background: #f8f8f8;
    margin-bottom: 20px;
    border-left: 8px #ccc solid;
    box-shadow: 0 1px 4px #aaa;
}


/*文章列表*/
.articlelist img {
    max-width:100%;
}
.articlelist h4 {
    padding: 10px 10px 0 20px;
    color: #2ca6cb;
    font-size: 24px;
    font-weight: 300;
}

.articlelist h4 a {
    text-decoration: none;
}

.articlelist h4 a:hover {
    color: #f4645f;
    text-shadow: 0px 0px 10px #f4645f;
}

.articlelist p {
    margin-bottom: 0;
    padding: 5px 20px 0px 20px;
    color: #817c7c;
    line-height: 1.6;
    word-wrap: break-word;
    font-size: 16px;
}

.articlelist p.time {
    margin-right: 50px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}


/*文章详情*/

.post-article {
    border: 0;
}

.post-title {
    border-left: 5px solid #ea6753;
}
.post-article img {
    max-width:100%;
}
.post-title h4 {
    color: #2ca6cb;
    padding: 15px 35px;
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
}

.post-meta .subhead {
    font-size: 15px;
    float: right;
    color: #777;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-top: 5px;
}

p.subhead span {
    padding: 0 15px;
}

.post-abs {
    border-top: 1px dashed #726caf;
    border-bottom: 1px dashed #726caf;
    font-size: 1.2em;
    padding: 15px 0;
    margin: 5px 50px;
}

.post-cont {
    margin: 5px 50px;
    padding: 15px 0;
    font-size: 16px;
}

.post-footer {
    margin-bottom: 10px;
}

.post-footer p {
    font-size: 15px;
    float: right;
    color: #777;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.post-return {
    margin: 15px 0 15px 45px;
}

.post-return-a {
    text-decoration: none;
    padding: 8px 10px;
    color: #2ca6cb;
    font-size: 16px;
}

.post-return-a:link,
.post-return-a:hover {
    text-decoration: none;
}

.post-return-a:hover {
    background-color: #2ca6cb;
    color: white;
}
/* 评论区 */

.comment {
    margin: 25px 50px;
}
.comment .head {
    margin: 20px 0;
    border-bottom: 2px solid #d3d3d3;
}
.comment .wrap ul {
    list-style: none;
    padding-left: 0;
}
.comment .wrap li {
    border-bottom: 1px dashed #d3d3d3;
}
.comment .wrap .content {
    margin:20px 0;
    text-indent:2em;
}
.comment .wrap .title {
    font-weight: 700;
}
.comment .wrap .foot {
    float:right;
    font-size: 90%;
}
.comment .wrap .foot .expression {
    margin-right: 20px;
    font-size: 16px;
}
.comment .wrap .foot .expression i:first-child {
    margin-right:4px;
}
.comment .wrap .foot  .visited {
    color:#da3e3c;
}
.comment .comments-title {
    padding:2rem 0 1rem 0;
    color: #000000;
    font-weight: 500;
    letter-spacing: -0.03em;
    border-bottom: 0.1rem solid #d3d3d3;
}
.comment textarea {
    border: 1px solid #d3d3d3;
    padding: 0.5em;
    width: 90%;
}
.comment input,.comment textarea {
    font-size: 1.5rem;
}
.comment input {
    border: 1px solid #d3d3d3;
    margin-top: 0;
    line-height: 1.2;
    padding: 0.4em 0.3em;
}
#comments-open-footer .submit {
    width:22%;
}
#wait p {
    background: #fefefe;
}
/* 错误提示 */
.errorCls  {
    overflow: hidden;
    width:90%;
}
.errorCls span{
    font-size: 90%;
    font-weight: 400;
    color: red;
    position: relative;
    width:100%;
    display: inline-block;
    animation: horse 15s ease-in 0s infinite;
}
@keyframes horse
{
    0%   {left:0;}
    100% {left:100%;}
}
