#login {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
#admin {
    font-size:62.5%;
}
.login-wrap {
    width: 100vw;
    height: 100vh;
    background-color: #335465;
}

.login-title {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -23rem;
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

.login-panel {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 38rem;
    height: 22.5rem;
    margin: -15rem 0 0 -19rem;
    padding: 4rem;
    border-radius: 0.5rem;
    background: #fff;
    text-align: center;
    font-size: 1.4rem;
}

.login-name {
    margin-bottom: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 0.4rem;
    border: 0.1rem solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: block;
    font-size: inherit;
    height: 3.6rem;
    line-height: 1;
    outline: 0;
    padding: 0.3rem 1rem;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.login-pwd {
    margin-bottom: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 0.4rem;
    border: 0.1rem solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: block;
    font-size: inherit;
    height: 3.6rem;
    line-height: 1;
    outline: 0;
    padding: 0.3rem 1rem;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.login-submit {
    width: 30rem;
    border-color: #4db3ff;
    color: #fff;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 0.1rem solid #bfcbd9;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    background-color: #20a0ff;
}

.case-number {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #5d5d5d;
}


/*tips  */

.errTip {
    color: red;
}
